/* Page styling */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(bg_img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(90, 90, 90);
}

/* Main heading styling */
#main-heading {
    text-align: center;
    color: rgba(90, 90, 90, 0.850);
}

/* Form container styling */
form {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffaf;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Spacing for paragraphs inside the form */
form p {
    margin-bottom: 20px;
}

/* Separated line for the labels */
label {
    display: block;
}

/* inputs, selectors, and text areas styling */
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff60;
    color: rgba(90, 90, 90);
    border-color: rgba(118, 117, 132, 0.875);
}

/* Submit button styling */
button {
    background-color: rgba(118, 117, 132, 0.875);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Change the button color on hover */
button:hover {
    background-color: rgba(118, 117, 132);
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 0.35cm;
}

/* This is the container for all the profile cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Profile card styling */
.profile-card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #ffffffaf;
}

/* Profile picture styling */
.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Center the summary section text */
#summary-section {
    text-align: center;
    color: rgba(90, 90, 90, 0.850);
}

/* Summary table styling */
#summary-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

/* In-table styling */
#summary-table th, #summary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Table header styling */
#summary-table th {
    background-color: #ffffffaf;
}

/* Table row styling */
#summary-table tr {
  background-color: #ffffff80;
}

/* Remove button styling */
.remove-btn {
    background-color: #d9544f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/*Remove button on hover styling*/
.remove-btn:hover {
    background-color: #c9302c;
}

/* Responsive design for smaller screens */
@media (max-width: 760px) {
    form {
        width: 90%;
    }
}